.gradient-custom {
  background: linear-gradient(120deg,#ffb347,#ff6961);
  color: #fff;
}

.gradient-custom-content {
  background: linear-gradient(120deg,#ff6961,#ffb347);
  box-shadow: 5px 10px 5px #888888;
  color: #fff;
}

.nav-link.active {
  color: #fff;
  background-color: #b19cd9;
}

